@using Marvel.Web.Components
@model IReadOnlyCollection<Marvel.Application.Queries.Character.GetCharacters.CharacterDto>

@{
    ViewData["Title"] = "Home Page";
}

<component type="typeof(Carousel)" render-mode="ServerPrerendered" />

<div class="flex p-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        @foreach(var character in Model)
        {
            <a href="@Url.Action("Index", "Character", new { id = character.Id })">
                <div class="bg-white rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 h-full">
                    <div class="w-full h-full flex flex-col gap-4 p-4">
                        <img class="rounded-t-lg object-cover h-[50%]" src="@character.Thumbnail?.Path.@character.Thumbnail?.Extension" alt="@character.Name" />
                        <div class="flex flex-col gap-2">
                            <h3 class="text-xl font-bold text-gray-800">@character.Name</h3>
                            <p class="text-gray-600">
                                @if (!string.IsNullOrEmpty(character.Description))
                                {
                                    @character.Description
                                }
                                else
                                {
                                    <span class="italic">No description available.</span>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>